@import "~bootstrap/scss/bootstrap.scss";

#trafficTop {
    background-color: black;
    width: 10px;
    height: 70px;
    margin-left: 79px;
}
#container {
    background-color: black;
    width: 64px;
    height: 172px;
    margin-left: 50px;
    padding: 7px;
    border-radius: 10px;
}
.light {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red{background-color: #990000;}
    &.yellow{background-color: #b8a61e;}
    &.green{background-color: #009933;}
    &.red.selected{box-shadow: #f8ffcc 0px 0px 50px 20px;
                   background-color: #f30303;}
    &.yellow.selected{box-shadow: #f8ffcc 0px 0px 50px 20px;
                      background-color: #f3db03;}
    &.green.selected{box-shadow: #f8ffcc 0px 0px 50px 20px;
                     background-color: #03f337;}

}